[submodule "DaisySP"]
	path = extern/DaisySP
	url = git@github.com:electro-smith/DaisySP
[submodule "stmlib"]
	path = extern/stmlib
	url = git@github.com:pichenettes/stmlib
[submodule "libDaisy"]
	path = extern/libDaisy
	url = git@github.com:electro-smith/libDaisy
